.footer {
  color: white;

  .stick {
    font-size: 25px;
    margin-bottom: 3px;
  }

  .nav-link {
    cursor: pointer;
  }
}

#email {
  cursor: pointer;
}

.footerLogo{
  width: 70px;
  height: 70px;
}
